$column-count: 12 !default;
$grid-gutter-width: 16px !default;
$breakpoints: (
  xs: 600px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
) !default;

.container-fill {
  flex: 1 0 auto;
}

.layout-center {
  justify-content: center;
}

.layout-start {
  justify-content: flex-start;
}

.layout-end {
  justify-content: flex-end;
}

.layout-align-center {
  align-items: center;
}

.layout-align-end {
  align-items: flex-end;
}

.layout-align-start {
  align-items: flex-start;
}

.layout-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}

.flex {
  flex: 1 0 auto;
}

.row {
  margin-left: -$grid-gutter-width / 2;
  margin-right: -$grid-gutter-width / 2;
  display: flex;
  flex-direction: row;
}

$sizes: map-keys($breakpoints);

$column-width: 100% / $column-count;
[class*="col-"], [class*=" col-"] {
  padding-left: $grid-gutter-width / 2;
  padding-right: $grid-gutter-width / 2;
  display: flex;
  flex-direction: column;
}

@for $column from 1 to $column-count + 1 {
  .col-#{$column} {
    width: $column-width * $column;
  }
}

@each $size in $sizes {
  @for $column from 1 to $column-count {
    .col-#{$size}-#{$column} {

    }
  }
}
